<link rel="stylesheet" href="/css/profile.css">
<style>
    
</style>
<div class="container">
    <form action="/" class="form" id="connectRoom">
    <label for="user-to-connect" class="form-label">Enter Room Name</label>
    <input type="text" name='user-to-connect' id="search">
    <button type="submit">Connect</button>
    </form>
</div>
<div class="chatbox d-none">
    <form action="/" class="d-none" id="sendMessage">
        <input type="text" name='message' id="msg" autocomplete="off">
        <button type="submit" class="o-0">Send</button>
    </form>
</div>

<script src="/js/chat_engine.js"></script>
<script >
    var c = new ChatEngine('<%= user.email %>'); 
    if(!getCookie('room').trim() != ''){
        $('#connectRoom').on('submit',function(e){
            console.log('hello'); 
            e.preventDefault(); 
            c.joinRoom($('#search').val());
            hideAllOther();   
        }); 
    }else{
        c.joinRoom(getCookie('room'));
        hideAllOther(); 
    }
    $('#sendMessage').on('submit', (e)=>{
        e.preventDefault(); 
        let msg = $('#msg').val().trim(); 
        
        if((msg == "logout --user") || (msg == "logout -u")){
            window.location.replace('/user/logout'); 
        }else if(msg == "leave --room " + getCookie('room') || msg == "leave -r " + getCookie('room')){
            document.cookie = "room=; expires=1970-04-26T16:07:39.000Z; path=/;";
            window.location.reload(); 
        }else{
            let d = {
                message: msg,  
                roomName: getCookie('room')
            }; 
            c.sendMessage(d); 
        }
        $('#msg').val(''); 
    }); 
    function hideAllOther(){
        $('.container').addClass('d-none'); 
        $('#leaveRoom').removeClass('d-none');
        $('#sendMessage').removeClass('d-none'); 
        $('.chatbox').removeClass('d-none'); 
    }
    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
    }
</script>