<link rel="stylesheet" href="/css/profile.css">
<style>
    
</style>
<div class="container">
    <form action="/" class="form" id="connectRoom">
    <label for="user-to-connect" class="form-label">Enter Room Name</label>
    <input type="text" name='user-to-connect' id="search">
    <button type="submit">Connect</button>
    </form>
</div>
<div class="chatbox d-none">
    <form action="/" class="d-none" id="sendMessage">
        <input type="text" name='message' id="msg" autocomplete="off">
        <button type="submit" class="o-0">Send</button>
    </form>
</div>
<!-- <button class="btn d-none" id="leaveRoom">Leave Room</button> -->

<script src="/js/chat_engine.js"></script>
<script >
var c = new ChatEngine('<%= user.email %>'); 
if(!window.localStorage.getItem('room')){
    $('#connectRoom').on('submit',function(e){
        console.log('hello'); 
        e.preventDefault(); 
        c.joinRoom($('#search').val());
        hideAllOther();   
    }); 
}else{
    c.joinRoom(window.localStorage.getItem('room'));
    hideAllOther(); 
}
$('#sendMessage').on('submit', (e)=>{
    e.preventDefault(); 
    let msg = $('#msg').val().trim(); 
    if((msg == "logout --user") || (msg == "logout -u")){
        window.location.replace('/user/logout'); 
    }else if(msg == "leave --room " + window.localStorage.getItem('room') || msg == "leave -r " + window.localStorage.getItem('room')){
        window.localStorage.removeItem('room');
        window.location.reload(); 
    }else{
        let d = {
            message: msg,  
            roomName: window.localStorage.getItem('room')
        }; 
        c.sendMessage(d); 
    }
    $('#msg').val(''); 
}); 
function hideAllOther(){
    $('.container').addClass('d-none'); 
    $('#leaveRoom').removeClass('d-none');
    $('#sendMessage').removeClass('d-none'); 
    $('.chatbox').removeClass('d-none'); 
    $('#leaveRoom').on('click', ()=>{
        window.localStorage.removeItem('room');
        window.location.reload();  
    }); 
}
</script>